<div class="container">
	<div class="row">
		<div class="[ col-sm-6 col-md-4 ]">
			<div class="[ info-card ]">
				<img style="width: 100%" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/521968_4280062242815_1370495466_n.jpg?oh=166d654427898a5ed16b7f0643be7088&oe=54AB545A&__gda__=1420885653_fbdc8d172b74d23b1240de5baa963a7e" />
				<div class="[ info-card-details ] animate">
					<div class="[ info-card-header ]">
						<h1> Diego Resendez </h1>
						<h3> web developer </h3>
					</div>
					<div class="[ info-card-detail ]">
						<!-- Description -->
						<p>Disfrutar de entender y aplicar nuevas tecnolog&iacute;as, impulsor del uso de <strong>NodeJS</strong> y <strong>AngularJS</strong></p>
						<div class="social">
							<a href="https://www.facebook.com/ArmandBelmont" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
							<a href="https://twitter.com/diegoresendez" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
							<a href="https://github.com/zerooneit" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>
							<a href="https://plus.google.com/u/0/+DiegoArmandoRes%C3%A9ndezPrado" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
							<a href="https://www.linkedin.com/pub/diego-armando-resendez-prado/37/ba5/9b6" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="[ col-sm-6 col-md-8 ]">
			<h3>Habilidades</h3>

			<h4>Javascript</h4>
			<div class="progress">
			  <div class="progress-bar progress-bar-info" style="width: 80%"></div>
			</div>

			<h4>AngularJS</h4>
			<div class="progress">
			  <div class="progress-bar progress-bar-success" style="width: 85%"></div>
			</div>

			<h4>NodeJS</h4>
			<div class="progress">
			  <div class="progress-bar progress-bar-warning" style="width: 83%"></div>
			</div>

			<h4>PHP</h4>
			<div class="progress">
			  <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
			</div>
		</div>
	</div>
</div>

