<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>¡Atenci&oacute;n!</strong> Este juego de la vida se ejecuta en tiempo real en el servidor <a href="#" class="alert-link">si cierras la aplicaci&oacute;n</a> el juego continuar&aacute; ejecut&aacute;ndose.
</div>

<div class="row">
  <div class="col-md-3">
  	<h4>Developers</h4>

  </div>
  <div class="col-md-6">

  </div>
  <div class="col-md-3">
    <h4>Meeting Queue</h4>

  </div>
</div>


