<section class="game" ng-controller="GameController">

<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>¡Atenci&oacute;n!</strong> Este juego de la vida se ejecuta en tiempo real en el servidor <a href="#" class="alert-link">si cierras la aplicaci&oacute;n</a> el juego continuar&aacute; ejecut&aacute;ndose.
</div>

<!-- Developers List -->
<section class="col-md-3" ng-controller="DevelopersController">
	<h4>Developers</h4>
  <div class="row player-wrap">
    <div class="player">

    </div>
  </div>

</section>

<!-- Gambling Area -->
<section class="col-md-6">

</section>

<!-- Selected Developers -->
<section class="col-md-3">
  <h4>Meeting Queue</h4>

</section>

</section>


